<div>
  <div class="row align-items-center my-5">
    <div class="col-lg-6">
      <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 300 }) %>" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-6">
      <h1 class="font-weight-light"><%= @user.name %></h1>
      <% if current_user == @user %>
        <% if @user.id == current_user.id %>
         <%= link_to("プロフィールを編集する", "/users/#{@user.id}/edit") %>
        <% end %>
      <% end %>
      <p><%= @user.profile%></p>
    </div>
  </div>
  
  <div>
    <div class="card-body">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧<span class="badge badge-secondary"><%= @count_wines %></span></a></li>
        <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">いいね！一覧<span class="badge badge-secondary"><%= @count_favorited %></span></a></li>
      </ul>
    </div>
  </div>

  <%= render 'wines/wines', wines: @wines %>