<header class="masthead text-white text-center" style="background-image: url('img/vinyard.jpg');">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">お気に入りのワインを探してみよう！</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <%= form_tag(search_wines_path,:method => 'get') do %>
            <%= text_field_tag :search,'', class: 'text' %>
            <%= submit_tag '検索', :name => nil,class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
</header>


<h2 class="ml-5 py-5">最近投稿されたワイン</h2>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
    <% @wines.each do |wine| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
        <%= image_tag wine.image.to_s, class: "wine-image" %>
          <div class="card-body">
            <p class="card-text"><%= link_to wine.name, wine_path(wine) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <% unless current_user == @user %>
                <% if current_user.favorite?(wine) %>
                  <%= form_with(model: current_user.favorites.find_by(wine_id: wine.id), local: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :wine_id, wine.id %>
                    <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                     <i class="fas fa-heart unlike-btn"></i>
                     <%= wine.favorite_users.count %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
                    <%= hidden_field_tag :wine_id, wine.id %>
                    <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                     <i class="far fa-heart like-btn"></i>
                     <%= wine.favorite_users.count %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <% if current_user == wine.user %>
                  <%= link_to "削除", wine, method: :delete, data: { confirm: "本当に削除しますか？" } %>
                <% end %>
                <% if current_user != wine.user %>
                  <small class="text-muted">投稿者：<%= link_to wine.user.name, user_path(wine.user) %></small>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <p class="text-right"><%= link_to '全てのワインを見る＞', wines_path %></p>
  </div>
</div>

<div class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/wine.jpg');"></div>
      <div class="col-lg-6 order-lg-1 showcase-text">
        <h2>Vinlogとは？</h2>
        <p class="lead mb-0">投稿されたワインをレビューしていくサービスです。 好きなワインを投稿し、他のユーザーと楽しく自分の好きなワインを共有できます。</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/purple.jpg');"></div>
      <div class="col-lg-6 showcase-text">
        <h2>Vinlogユーザーでできること</h2>
        <p class="lead mb-0">お気に入りのワインの投稿や、他のユーザの投稿にいいね！ができます。</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="/">Vinlog</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="wines">Wines</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="users">Users</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://www.facebook.com/share.php?u=https://vinlog.herokuapp.com/">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="http://twitter.com/share?text=【（ワインレビューならVinlog!）】&url=【https://vinlog.herokuapp.com/】&hashtags=【Vinlog】">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
